# Auto detect text files and perform LF normalization
* my first full fledged project using html and css .
* this is basicaly a landing page of business firm or analytics provided lots of designing feature.
